<!DOCTYPE html>
<html lang="zh" class="h-full bg-white">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/logo.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>登录页面</title>
        <link href="https://unpkg.steedos.cn/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="h-full">
        <%- body %>
    </body>
</html>