<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
    <div class="w-full max-w-sm space-y-10">
      <div>
        <img class="mx-auto h-20 w-auto rounded-full" src="https://3080-dannyavila-librechat-deuhh9kcbr4.ws-us115.gitpod.io/images/6698b6df5cb9c4832ed155c3/e1ed90e1-2f13-4c8f-b856-0ead10ab87b0__clipboard_1721544275258_image.png" alt="Your Company">
        <h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">登录您的账户</h2>
      </div>
      <form class="space-y-6" autocomplete="off" action="/interaction/<%= uid %>/login" method="post" >
        <div>
            <label for="login" class="block text-sm font-medium leading-6 text-gray-900">账号</label>
            <div class="mt-2">
              <input id="login" name="login" type="text" autocomplete="login" required class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6">
            </div>
          </div>
    
          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">密码</label>
              <div class="text-sm">
                <a href="#" class="font-semibold text-green-600 hover:text-green-500">忘记密码?</a>
              </div>
            </div>
            <div class="mt-2">
              <input id="password" name="password" type="password" autocomplete="current-password" required class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6">
            </div>
          </div>
    
          <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">登 录</button>
          </div>
      </form>
    </div>
  </div>
  